html{
    overflow:hidden;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

h1{
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 40px;
}

p{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Josefin Sans';
    color: #767676;
    padding: 0 50px;
}

.main-title{
    margin-top:130px;
    opacity: 0;
    font-size: 24px;
}

.main-text{
    opacity: 0;
    text-align: center;
    font-size: 18px;
}

.main-button{
    width: 200px;
    height: 35px;
    background-color: #FEC134;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-family: "Montserrat";
    margin-top: 30px;
    text-transform: uppercase;
    opacity: 0;
    z-index: 1;
}

.talk-title{
    position: absolute;
    top: 221px;
    opacity: 0;
    display: none;
}

.talk-text{
    position: absolute;
    top: 350px;
    opacity: 0;
    display: none;
}


.medician-title{
    position: absolute;
    top: 215px;
    opacity: 0;
    display: none;
}

.medician-text{
    position: absolute;
    top: 350px;
    opacity: 0;
    display: none;
}

.express-title{
    position: absolute;
    top: 221px;
    opacity: 0;
    display: none;
}

.express-text{
    position: absolute;
    top: 350px;
    opacity: 0;
    display: none;
}


@media (min-width: 414px){

    .main-title{
        margin-top:130px;
        opacity: 0;
        font-size: 28px;
    }

    .main-text{
        padding: 0 30px;
        font-size: 18px;   
    }

    .talk-text{
        padding: 0 30px;
        font-size: 18px;   
    }

    .medician-text{
        padding: 0 30px;
        font-size: 18px;     
    }

    .express-text{
        padding: 0 20px; 
        font-size: 18px;  
    }
    
}


@media (min-width: 1366px){
    h1{
        font-weight: bold;
        font-family: 'Montserrat';
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
    }

    .main-title{
        margin-top:181px;
        opacity: 0;
        font-size: 48px;
    }

    .main-text{
        padding: 0 250px;
        font-size: 18px;   
    }

    .talk-text{
        padding: 0 250px;
        font-size: 18px;   
    }

    .medician-text{
        padding: 0 250px;   
    }

    .express-text{
        padding: 0 250px; 
        font-size: 18px;  
    }
    
}

@media (min-width: 1920px){
    h1{
        font-weight: bold;
        font-family: 'Montserrat';
        font-size: 64px;
        text-transform: uppercase;
        text-align: center;
    }

    p{
        font-size: 40px;
    }

    .main-title{
        margin-top:181px;
        opacity: 0;
    }

    .main-text{
        padding: 0 250px;   
    }

    .talk-text{
        padding: 0 250px;   
    }

    .medician-text{
        padding: 0 250px;   
    }

    .express-text{
        padding: 0 250px;   
    }
}