.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.main-title{
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 48px;
    text-transform: uppercase;
    margin-top:181px;
    opacity: 0;
}

.main-text{
    margin-top: 46px;
    font-size: 24px;
    text-align: center;
    font-family: 'Josefin Sans';
    color: #767676;
    opacity: 0;
}

.main-button{
    width: 200px;
    height: 35px;
    background-color: #FEC134;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-family: "Montserrat";
    margin-top: 112px;
    text-transform: uppercase;
    opacity: 0;
}