.image-1{
    width: 160px;
    height: 134.94px;
    position: absolute;
    left: 228px;
    top:-170px;
}

.image-2{
    width: 300px;
    height: 282.03px;
    position: absolute;
    left: -200px;
    top: 328px;
}

.image-3{
    width: 150px;
    height: 111.82;
    position: absolute;
    left: 1400px;
    top: 94px;
}

.image-4{
    width: 260px;
    height: 191.78;
    position: absolute;
    left: 1022px;
    top: 600px;
}