.image-1{
    width: 160px;
    height: 134.94px;
    position: absolute;
    left: 228px;
    top:30px;
    transform: translate(0, -200px);
    opacity: 0;
}

.image-2{
    width: 300px;
    height: 282.03px;
    position: absolute;
    left: 74px;
    top: 328px;
    transform: translate(-260px, 0);
    opacity: 0;
}

.image-3{
    width: 150px;
    height: 111.82;
    position: absolute;
    left: 1032px;
    top: 94px;
    transform: translate(150px, 0);
    opacity: 0;
}

.image-4{
    width: 260px;
    height: 191.78;
    position: absolute;
    left: 1022px;
    top: 382px;
    transform: translate(0, 65px);
    opacity: 0;
}

.talk-img{
    width: 400px;
    height: 245.41px;
    position: absolute;
    left: 521px;
    top: 112px;
    opacity: 0;
}

.medician-img{
    width: 367.06px;
    height: 260px;
    position: absolute;
    left: 499px;
    top: 112px;
    opacity: 0;
}