.image-1{
    width: 160px;
    height: 134.94px;
    position: absolute;
    left: 228px;
    top:30px;
    transform: translate(0, -200px);
    display: none;
}

.image-2{
    width: 300px;
    height: 282.03px;
    position: absolute;
    left: 74px;
    top: 328px;
    transform: translate(-260px, 0);
    display: none;
}

.image-3{
    width: 150px;
    height: 111.82;
    position: absolute;
    left: 1032px;
    top: 94px;
    transform: translate(300px, 0);
    display: none;
}

.image-4{
    width: 260px;
    height: 191.78;
    position: absolute;
    left: 1022px;
    top: 382px;
    transform: translate(0, 180px);
    display: none;
}

.talk-img{
    width: 400px;
    height: 245.41px;
    position: absolute;
    top: 112px;
    opacity: 0;
    display: none;
}

.medician-img{
    width: 367.06px;
    height: 260px;
    position: absolute;
    top: 112px;
    opacity: 0;
    display: none;
}

.express-img{
    width: 276.01px;
    height: 260px;
    position: absolute; 
    top: 121px;
    opacity: 0;
    display: none;
}