.slidecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider {
    -webkit-appearance: none;
    width: 270px;
    height: 48px;
    border-radius: 50px;  
    background: rgb(218, 218, 218);
    outline: none;
    -webkit-transition: 1s;
    transition: opacity .2s;
    position: absolute;
    top: 524px;
    opacity: 0;
    z-index: 0;
  }
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    border: 7.5px solid #FEC134;
    background: #D69500;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FEC134;
    cursor: pointer;
}

.dots{
    position: absolute;
    top: 525.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 270px;
    height: 48px;   
}

.dot{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(85, 85, 85);
    opacity: 0; 
} 

.dot-1{
    position: absolute;
    left: 40px;
}

.dot-2{
    position: absolute;
    left: 100px;
}

.dot-3{
    position: absolute;
    left: 160px;
}

.dot-4{
    position: absolute;
    left: 220px;
}

@media (min-width: 476px){
    .slider{
        top: 494.9px;
    }

    .dots{
        top: 495.5px;
    }
}

@media (min-width: 1920px){
    .slider{
        top: 600px;
    }

    .dots{
        top: 601.5px;
    }
}